
body{
    background: url("sato.jpg") no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif; 
    color:black;
    

}


blink {
    animation: blinker 3.0s linear infinite;
   }
  @keyframes blinker {  
    50% { opacity: 0; }
   }
   .blink-one {
     animation: blinker-one 1s linear infinite;
   }
   @keyframes blinker-one {  
     0% { opacity: 0; }
   }
   .blink-two {
     animation: blinker-two 1.4s linear infinite;
   }
   @keyframes blinker-two {  
     100% { opacity: 0; }
   }
